.lp-container {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 460px;
  overflow: auto;
}

.landing-logo-container,
.testing-logo-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.landing-logos-react {
  height: 112px;
  margin-left: 40px;
  margin-right: 40px;
  width: 260px;
}

.landing-logos-react-router {
  height: 110px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  width: 264px;
}

.landing-logos-redux {
  height: 100px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  width: 270px;
}

.landing-logos-css {
  height: 178px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  width: 290px;
}

.testing-logos {
  height: 100px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  width: 290px;
}