.nav-bar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.profile-pic {
  border: solid 2px #000;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav-item {
  font-size: 1.5em;
  padding-bottom: 35px;
  padding-top: 35px;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
}

.inactive-item {
  border-bottom: solid 2px #fff;
  border-top: solid 2px #fff;
}

.active-item {
  border-bottom: solid 2px #000;
  border-top: solid 2px #000;
}